html {
  font-family: 'Verdana';
}
.background {
  width: 100vw;
  height: 200vh;
  background-color: #E9EDF0;
  margin: 0%;
}
.button {
  padding: 5px;
  border-radius: 5px;
  font-size: 5mm;
  margin: 5px;
  color: #7a7a7b;
}
.button:hover {
  cursor: pointer;
  background-color: #1AA5EB;;
  color: #E9EDF0;
}
.button-line {
  margin: 0;
  border: 0.5px solid #1AA5EB;;
}
#home-line {
  display: block;
}
#about-line {
  display: none;
}
#projects-line {
  display: none;
}
#contact-line {
  display: none;
}
.header {
  margin-top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
}
hr.line {
  width: 100vw;
  border: 1px solid #9e9fa0;
}
.bar-container {
  display: flex;
  align-items: baseline;
  padding: 70px;
  padding-bottom: 10px;
  /* background-color: #1AA5EB; */
}
.welcome {
  background-color: #1AA5EB;
  width: 40vw;
  min-width: 450px;
  height: 300px;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
}
.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: #1AA5EB; */
}
.page {
  display: none;
}
#home-page {
  display: block;
  /* align-items: baseline; */
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background-color: #1AA5EB; */
}
.words {
  padding-left: 70px;
}
#home-content {
  font-size: 17mm;
  font-weight: bold;
  /* margin-top: 100px; */
  /* align-items: end; */
}
/* #title {
  padding-right: 70px;
} */
.icon-container {
  display: flex;
  margin-top: 15px;
  /* width: 30mm; */
  padding-left: 70px;
  /* background-color: #1AA5EB; */
}
svg {
  color: #9e9fa0;
}
.linked-svg {
  width: 10mm;
  height: 10mm;
}
#arrow {
  width: 10mm;
  height: 10mm;
  color: #1AA5EB;
}
.linked-svg:hover {
  cursor: pointer;
  color: #1AA5EB;
}
.about-svg {
  width: 4mm;
  height: 4mm;
}
.contact-svg {
  width: 6mm;
  height: 6mm;
  color: black;
}
.contact-svg:hover {
  color: #1AA5EB;;
}
#about-content {
  background-color: #f6fbff;
  justify-content: first baseline;
  /* padding-right: 70px;
  padding-left: 0; */

  /* align-items: end; */
}
.title {
  font-size: 10mm;
  font-weight: bold;
  margin-bottom: 30px;
  padding-left: 70px;
}
.sub-title {
  padding-left: 70px;
  font-weight: 600;
  margin-bottom: 10px;
}
#right-title {
  color: #1AA5EB;
  text-align: right;
  padding-right: 70px;
}
#about-profile {
  /* max-width: 100vw - 140px; */
  padding-left: 70px;
  padding-right: 70px;
  /* font-weight: 600; */
  color: black;
  margin-bottom: 30px;
}
#about-sub-title {
  font-size: 7mm;
}
#about-sub-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  /* font-weight: 600; */
  color: #7a7a7b;
  padding-right: 70px;
  margin-bottom: 15px;
}
.school-title {
  color: black;
  font-weight: 600;
}
.school-detials {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.school-sub-content {
  padding-left: 15px;
}
#contact-content {
  background-color: #f6fbff;
}
#contect-sub-title {
  font-size: 5mm;
}
.contact-detials {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  margin-bottom: 15px;
}
.contact-detials:hover {
  cursor: pointer;
  color: #1AA5EB;;
}
#message {
  width: calc(100vw - 160px);
  height: 26vh;
  border: 0.5px solid #c2c5c7;
  border-radius: 5px;
  font-family: 'Verdana';
  font-size: 4mm;
  padding: 10px;
}
a:link {
  text-decoration: none;
  font-size: 5mm;
}
.sender-info {
  width: calc(100vw - 140px);
  display: flex;
  justify-content: space-between;
}
input {
  width: calc((100vw - 160px) / 2 - 10px);
  height: 25px;
  border: 0.5px solid #c2c5c7;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 4mm;
  padding-left: 10px;
}
.flex-1 {
  flex: 2;
}
#subject {
  width: calc((100vw - 150px));
}
#button-container {
  width: calc((100vw - 140px));
  display: flex;
  justify-content: center;
}
#send-button {
  width: 150px;
  height: 50px;
  background-color: #1AA5EB;;
  /* padding: 10px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 5px;
  color: #E9EDF0;
  margin-top: 10px;
  font-size: 4mm;
  font-family: 'Verdana';
}
#send {
  color: #E9EDF0;
}
#send-button:hover {
  cursor: pointer;
}
/* a:visited {
  color: #1a40eb;
} */
/* .about-me {
  background-color: #f8fcff;
  width: 100vw;
  height: 50vh;
}
.self-intro {
  margin-left: 70px;
  width: 550px;
  height: 400px;
  background-color: #f6fbff;
} */